[submodule "aem-dispatcher"]
	path = aem-dispatcher
	url = https://github.com/AdobeAEMXSC/aem-dispatcher.git
[submodule "aem-workfront-connector"]
	path = aem-workfront-connector
	url = https://github.com/AdobeAEMXSC/aem-workfront-connector.git
