[submodule "aem-dispatcher"]
	path = aem-dispatcher
	url = https://github.com/AdobeAEMXSC/aem-dispatcher.git
[submodule "aem-guides-wknd"]
	path = aem-guides-wknd
	url = https://github.com/adobe/aem-guides-wknd.git
